<div class="container py-5">
  <div class="heading-wrapper justify-content-center col-12 d-flex">
    <div class="line-wrapper d-flex flex-column">
      <img src="../../assets/images/Line 2.png" alt="" srcset="" />
      <img src="../../assets/images/Line 4.png" alt="" srcset="" class="py-5" />
    </div>

    <h1 class="d-flex justify-content-center services">Contact Us</h1>

    <div class="line-wrapper">
      <img src="../../assets/images/Line 1.png" alt="" srcset="" />
      <div class="py-5">
        <img src="../../assets/images/Line 3.png" alt="" srcset="" class="" />
      </div>
    </div>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div
        class="col-lg-6 col-sm-12 col-md-8 col-xl-4 col-xs-12 d-flex justify-content-end"
      >
        <div class="contact-form py-2">
          <div>
            <input
              class="form-control edit-in"
              name="name"
              type="text"
              placeholder="Name"
              formControlName="name"
            />
            <div
              *ngIf="
                contactForm.get('name')?.getError('required') &&
                contactForm.get('name')?.touched
              "
            >
              <span class="error-text ">Enter your name</span>
            </div>
          </div>
          <div class="py-3">
            <input
              class="form-control edit-in"
              name="email"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
            <!-- Add validation error message for email -->
            <div
              *ngIf="
                contactForm.get('email')?.getError('email') &&
                contactForm.get('email')?.touched
              "
            >
              <span class="error-text">Invalid email</span>
            </div>
          </div>
          <div>
            <input
              class="form-control edit-in"
              name="phone"
              type="text"
              placeholder="Phone"
              formControlName="phone"
            />

            <!-- Add validation error message for phone -->
            <div
              *ngIf="
                contactForm.get('phone')?.hasError('required') &&
                contactForm.get('phone')?.touched
              "
            >
              <span class="error-text">Phone is required</span>
            </div>
            <div
              *ngIf="
                contactForm.get('phone')?.getError('pattern') &&
                contactForm.get('phone')?.touched
              "
            >
              <span class="error-text">Invalid phone format</span>
            </div>
            <div class="d-flex justify-content-center py-3">
              <button type="submit" class="btn edit-send">Send</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-4 col-xl-4 col-xs-12 py-4">
        <div class="icon d-flex py-5 ms-5">
          <i class="fa-solid fa-envelope icon-mail py-1"></i>
          <span class="ms-1">upskilling.eg1@gmail.com</span>
        </div>

        <div class="icon d-flex px-5">
          <div class="gx-5">
            <i class="fa-sharp icon-mail fa-solid fa-phone"></i>
            <span class="ms-1">+20 115 493 2137</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
