.edit-in {
  width: clamp(20rem, 49%, 30rem); /* Example clamping between 20rem and 30rem */
  height: 3.5rem;   /* 56px converted to rem */
  flex-shrink: 0;
  border-radius: 3.8125rem; /* 61px converted to rem */
  background: #cedcff;
}

.edit-send {
  width: 10.5rem;   /* 168px converted to rem */
  height: 3.5rem;   /* 56px converted to rem */
  flex-shrink: 0;
  border-radius: 3.8125rem; /* 61px converted to rem */
  border: 0.1875rem solid #5180f6; /* 3px converted to rem */
}

h1 {
  color: #6d91ee;
  text-align: center;
  font-family: sans-serif;
  font-size: 4rem; /* 64px converted to rem */
  font-style: normal;
  font-weight: 900;
  line-height: 5.59375rem; /* 89.5px converted to rem */
}

::placeholder {
  color: #000;
  font-size: 1rem; /* 16px converted to rem */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.625rem; /* 10px converted to rem */
}

.icon-mail {
  width: 1.5rem; /* 24px converted to rem */
  height: 1.5rem; /* 24px converted to rem */
  flex-shrink: 0;
  color: #6d91ee;
}
.span{

}