<div class="container py-5">
  <div class="heading-wrapper justify-content-center py-3 d-flex">
    <div class="line-wrapper d-flex flex-column">
      <img src="../../assets/images/Line 2.png" alt="" srcset="" />
      <img src="../../assets/images/Line 4.png" alt="" srcset="" class="py-5" />
    </div>

    <h1 class="d-flex justify-content-center">Contact Us</h1>

    <div class="line-wrapper">
      <img src="../../assets/images/Line 1.png" alt="" srcset="" />
      <div class="py-5">
        <img src="../../assets/images/Line 3.png" alt="" srcset="" class="" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-end">
      <div class="contact-form py-2">
        <div>
          <input
            class="form-control"
            type="text"
            placeholder="Name"
            aria-label=".form-control-lg example"
            class="edit-in border-0"
          />
        </div>
        <div class="py-3">
          <input
            class="form-control"
            type="text"
            placeholder="Email"
            aria-label=".form-control-lg example"
            class="edit-in border-0"
          />
        </div>

        <div>
          <input
            class="form-control"
            type="text"
            placeholder="Phone"
            aria-label=".form-control-lg example"
            class="edit-in border-0"
          />

          <div class="d-flex justify-content-center py-3">
            <button type="button" class="btn edit-send">Send</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 py-4 ">

        <div class="icon d-flex  py-5 ms-5">
    <i class="fa-solid fa-envelope icon-mail py-1 ">  </i>
     <span class="ms-1"> upskilling.eg1@gmail.com</span>
    </div>

    
     <div class="icon d-flex px-5">
        <div class="gx-5">
            <i class="fa-sharp icon-mail fa-solid fa-phone"></i>
     <span class="ms-1 "> +20 115 493 2137</span>
    </div>
    </div>

    </div>

</div>
</div>
