

.right-side{
    background-image: url('../../assets/images/Rectangle\ 262.png');
flex-shrink: 0;
background-size: cover;
width: 1903px;
height: 840px;
flex-shrink: 0;


}
.head1{
    color: #FFF;
text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 89.5px; /* 139.844% */
}.left-side{
flex-shrink: 0;
background-image: url('../../assets/images/left.png');

background-size: cover;
background-repeat: no-repeat;
width: 1100px;
height: 840px;
}
p{
  color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
} .lolo{

  width: 280px;
height: 86px;
flex-shrink: 0;
border-radius: 71px;
background: #EEC04B;
}