<div class=" ">
  <section class="align-items-center right-side">
    <div class="row d-flex justify-content-end">
      <div class="col-4 d-flex justify-content-end ms-5 ms-5">
        <div class="ms-5">
          <h1 class="head1 fw-bolder py-3 ms-5">About Us</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. <br />
            Lorem Ipsum has been the industry's standard dummy <br />
            text ever since the 1500s, when a n
          </p>
          <img src="../../assets/images/rubbish.png" alt="" srcset="" />
        </div>

        <img src="../../assets/" alt="" srcset="" />
      </div>

      <div class="col-6 left-side d-flex py-5 text-center justify-content-end">
        <div class="d-flex align-content-center flex-column py-5">
          <div class="ms-5 justify-content-end">
            <div>
              <h1 class="head1 ms ms-5 fw-bolder">where</h1>
            </div>

            <div class="d-flex py-4 float-start justify-content-center">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                alias <br />Lorem, ipsum dolor sit amet consectetur
                <br />adipisicing elit. Sunt nemo perspiciatis beatae <br />
                Lorem ipsum dolor sit amet co <br />
                nsectetur adipisicing <br />
                elit. Quod, <br />
                iure a. Sunt ipsa, eveniet similique veritatis libero
                doloremque, quam ex corporis <br />
                earum numquam, consequuntur odio? Sequi explicabo <br />
                pariatur consequuntur architecto.
              </p>
            </div>
          </div>
          <div class="justify-content-start d-flex  float-start" style="padding-top: 150px;" >
            <button type="button" class="btn btn-danger text-dark fw-bolder border-0 me-5 lolo">Help Me</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
