 .img-test {
    width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 80px;

 } .card {
    width: 577px;
height: 233px;
flex-shrink: 0;
border-radius: 40px;
border: 1px solid #6D91EE;
background: #FFF;
 } 
 .para{
    color: #22366A;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
width: 423px;
 }
 .star{
    width: 18px;
height: 18px;
flex-shrink: 0;
color: #6D91EE;
 } .testi{
color: #6D91EE;
text-align: center;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 89.5px; /* 139.844% */
 }
 .name{
    color: #6D91EE;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
 }