<section class="container py-5">
  <h1 class="justify-content-center d-flex services">Services</h1>

  <div class="row ms-3 justify-content-center d-flex py-5">
    <div class="col-md-4">
      <div class="card">
        <img
          src=".../../../../assets/images/card1.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src=".../../../../assets/images/card2.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src=".../../../../assets/images/card3.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center py-5">
    <button type="button" class="btn btn-help">Help Me</button>
  </div>
</section>
