<section class="container py-5">
  <div class="heading-wrapper justify-content-center col-12 d-flex">
    <div class="line-wrapper d-flex flex-column">
      <img src="../../assets/images/Line 2.png" alt="" srcset="" />
      <img src="../../assets/images/Line 4.png" alt="" srcset="" class="py-5" />
    </div>

    <h1 class="d-flex justify-content-center services">Services</h1>

    <div class="line-wrapper">
      <img src="../../assets/images/Line 1.png" alt="" srcset="" />
      <div class="py-5">
        <img src="../../assets/images/Line 3.png" alt="" srcset="" class="" />
      </div>
    </div>
  </div>
  <div class="row ms-3 justify-content-center d-flex">
    <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card">
        <img
          src=".../../../../assets/images/card1.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src=".../../../../assets/images/card2.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src=".../../../../assets/images/card3.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center py-5">
    <button type="button" class="btn btn-help">Help Me</button>
  </div>
</section>
