<div class="home  py-3 flex-column ">

    <div class="row">
    <div class=" col-12 col-lg-12 col-md-8 col-sm-3 py-5 me-5 d-flex justify-content-end align-items-center">
    <img src="../../assets/images/Trash Hauling.png" alt="" class="car me-3" />
    <div class="me-5  ">
      <h1 class="custom">Round Rock</h1>
      <h2 class="edit">Trash Hauling</h2>
    </div>
  </div>

  <div class=" col-12 col-lg-12 col-md-8 col-sm-3 py-5 me-5 d-flex justify-content-end align-items-center flex-column">
    <button
      type="button"
      class="text-white me-5 border-0 btn-experts mx-auto ml-md-auto"
    >
      Experts
    </button>
  </div>

  <div class="col-12 col-lg-12 col-md-8 col-sm-3 justify-content-end align-items-center d-flex">
    <div class="ms-2">
      <div class="h1 text-center lo1 ms-5">lorem</div>
      <div>
        <div class="h1 lo2 fw-bolder">Lorem lorem</div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-12 col-md-8 col-sm-3 justify-content-end py-3 align-items-center d-flex">
    <p class="text-center para">
      Lorem Ipsum is simply dummy text of the printing and <br />
      typesetting industry. Lorem Ipsum <br />
      has been the industry's standard dummy text ever since the
    </p>
  </div>

  <div class="col-12 col-lg-12 col-md-8 col-sm-3 justify-content-end py-3 me-5 align-items-center d-flex">
    <button type="button" class="btn-help text-white border-0 me-5">
      help me
    </button>
</div>
</div>
</div>
